/*background*/
#background-video {
    position: fixed;
    inset: 0;
    z-index: -1;

    width: 100%;
    height: 100vh;
}

#background-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#background-video::after {
    content: '';

    width: inherit;
    height: inherit;
    position: fixed;
    inset: 0;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
}

/*header*/

header {
    display: flex;
    align-items: center;
    column-gap: 64px;

    width: 100%;
    max-width: 1440px;
    padding-top: 24px;
}

header img {
    width: 70px;
    height: auto;
}

.nav-list {
    display: flex;
    align-items: center;
    column-gap: 48px;
    list-style: none;
}

.nav-link {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;

    position: relative;
}

.nav-link:hover {
    color: var(--pink);
}

.nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;

    width: 60%;
    height: 1px;
    background: var(--pink);

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s;
}

.nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.4s;
}

.nav-socials {
    margin-left: auto;
    display: flex;
    align-items: center;
    column-gap: 24px;
}

.nav-socials svg {
    width: 20px;
    width: 20px;
    opacity: 0.6;

    transition: all 0.4s;
}

.nav-socials svg:hover {
    opacity: 1;
    transform: translateY(-5px);
    cursor: pointer;
}

/*main*/

main {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    max-width: 1440px;
}

main img {
    margin-right: 100px;
    margin-top: 200px;
}

.main-info {
    width: 100%;
    max-width: 570px;
}

.main-info p {
    font-size: 18px;
    margin: 70px 0 28px;
}

.main-info div {
    display: flex;
    column-gap: 32px;
}

.main-info div a, .main-info div button {
    width: 100%;
    padding: 10px 0;
    border-radius: 3px;

    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.3px;

    transform: skew(-10deg);
}

.main-info div a {
    background: var(--pink);
}

.main-info div a:hover {
    background: var(--rosa);
}

.main-info div button {
    background: transparent;
    border: 1px solid var(--nude);
}
.main-info div button:hover {
    border: 1px solid var(--rosa);
    color: var(--rosa);
    transition: 0.3s;
}

/*hamburger*/

.hamburger {
    display: none;
    border: none;
    background: none;
    border-top: 3px solid #fff;
    cursor: pointer;
    position: fixed;
    top: 26px;
    right: 16px;
}

.hamburger::before, .hamburger::after {
    content: '';
    display: block;
    width: 30px;
    height: 3px;
    background: #fff;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
}






